::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

body {
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Atma", serif;
  color: #57467B;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2.5px;
  text-align: center;
  font-size: 18px;
}

h2 {
  line-height: 65px;
  font-family: "Atma", serif;
  font-size: 40px;
  color: #57467B;
  font-weight: 500;
  letter-spacing: 2.5px;
  font-size: 1.56rem;
  text-align: center;
}

canvas {
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.title {
  font-size: 60px;
}

.intro {
  z-index: 2;
  position: absolute;
  top: 20%;
  width: 1200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 100px;
  align-items: center;
}

.wrapper {
  width: 900px;
  position: absolute;
  top: 55%;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.card {
  height: 280px;
  display: grid;
  grid-template-columns: 1fr;
  background: black;
  width: 88%;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}

img {
  width: 100%;
  height: 170px;
  border-radius: 7%;
}

.leftArrow {
  position: absolute;
  left: -30px;
  top: 50%;
}

.rightArrow {
  position: absolute;
  right: -30px;
  top: 50%;
}

.leftArrow,
.rightArrow {
  width: 34px;
  height: 34px;
  fill: black;
  cursor: pointer;
}